# Local dev secrets
/dev.env.ps1

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
/.idea/
/.vscode/
*.iml
*.ipr
*.iws
*.classpath
*.project
*.settings/

# OS files
.DS_Store

# Logs
logs/
*.log

# Build / temp
out/
bin/

# Node / frontend stuff if any accidentally here
node_modules/

# Environment / secrets
*.env
*.local
application-*.yml
application-*.properties

# Office / temp files
*.docx
*.pdf
~$*.docx

OmnicareBackend.code-workspace
*.code-workspace

commands.txt
